/** Project coded by Donkey Geek. https://www.youtube.com/c/DonkeyGeek **
 ╔═══╗ ╔═══╗ ╔═╗ ╔╗ ╔╗╔═╗ ╔═══╗ ╔╗  ╔╗ ──── ╔═══╗ ╔═══╗ ╔═══╗ ╔╗╔═╗
 ╚╗╔╗║ ║╔═╗║ ║ ╚╗║║ ║║║╔╝ ║╔══╝ ║╚╗╔╝║ ──── ║╔═╗║ ║╔══╝ ║╔══╝ ║║║╔╝
  ║║║║ ║║ ║║ ║╔╗╚╝║ ║╚╝╝  ║╚══╗ ╚╗╚╝╔╝ ──── ║║ ╚╝ ║╚══╗ ║╚══╗ ║╚╝╝
  ║║║║ ║║ ║║ ║║╚╗ ║ ║╔╗║  ║╔══╝  ╚╗╔╝ ───── ║║╔═╗ ║╔══╝ ║╔══╝ ║╔╗║
 ╔╝╚╝║ ║╚═╝║ ║║ ║ ║ ║║║╚╗ ║╚══╗   ║║ ────── ║╚╩═║ ║╚══╗ ║╚══╗ ║║║╚╗
 ╚═══╝ ╚═══╝ ╚╝ ╚═╝ ╚╝╚═╝ ╚═══╝   ╚╝ ────── ╚═══╝ ╚═══╝ ╚═══╝ ╚╝╚═╝

 and embellished (?) by
 FC, ty DG :) 

************************************************************************/

/* :ROOT * H1 H2 H3 */
/* BODY */
/* HR */
/* HEADER */
/* MAIN */
/* WELCOME PAGE */
/* TOASTIFY COLOR */
/* FOOTER */
/* ERROR PAGE */
/* SIGNUP - LOGIN - FORGETPASSWORD */
/* LOADER */
/* LOGOUT SWITCH */
/* LEVELS */
/* PROGRESS BAR */
/* ANSWER OPTIONS*/
/* QUIZOVER */
/* SUBMIT BUTTON */
/* MODAL */
/* MEDIA QUERIES */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anton|Bangers|Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

:root {
  --white-color: #ffffff;
  --light-grey-color: #EAE8E8;
  --light-green-color: #1ecc78;
  --green-color: #0cb765;
  --red-color: #EB1D27;
  --blue-color: #4f78a4;
  --dark-red-color: #d31017;
  --dark-grey-color: #363636;
  --black-color: #333030;
  --deep-black-color: #000000;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Bangers', cursive;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: var(--white-color);
  font-weight: normal;
  text-align: center;
  letter-spacing: 6px;
  cursor: pointer;
  margin: 0 auto;
}

h1 a {
  color: inherit;
  text-decoration: none;
  font-family: 'Bangers', cursive;
}

h1 a:hover {
  color: inherit;
}

h2,
h3 {
  font-weight: normal;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(images/bg-noise-texture.png);
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}

a {
  color: ghostwhite;
  text-decoration: none;
}
a:hover{
  color: #4f78a4;
}
/* HEADER */
header {
  display: flex;
  justify-content: center;
}

.banner-container {
  padding: 20px 0;
  flex-basis: 80%;
}
/* END HEADER */

/* MAIN */
main {
  flex-grow: 1;
}
/* END MAIN */

/* WELCOME PAGE */
.welcomePage {
  background-color:var(--blue-color);
  background-image: url(images/mainIm.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  height: 550px;
}

.bg-text {
  background-color:#4f78a4; /* Fallback color */
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 50px;
  text-align: center;
}


.startingImg {
  background-image: url(images/xmen.png);
}

.leftImg {
  background-image: url(images/wolverine.png), url(images/griffes-gauche.png);

}
.rightImg {
  background-image: url(images/wolverine.png), url(images/griffes-droit.png);
}

.leftBox {
  display: flex;
  flex: 0 1 35%;
  align-items: flex-start;
  justify-content: flex-end;
}

.rightBox {
  display: flex;
  flex: 0 1 35%;
  align-items: flex-start;
}

.btn-welcome {
  border: 2px solid var(--white-color);
  color: var(--white-color);
  padding: 12px 25px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: normal;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  margin-top: 150px;
}
.btn-welcome2 {
  margin-top: 150px!important;
}


.btn-welcome:hover {
  border: 2px solid var(--white-color);
  color: var(--red-color);
  background-color: var(--white-color);
}
/* END WELCOME PAGE */

/* sessionCard */
.sessionCardInactive {
  opacity: 0.50;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  pointer-events: none;
}


/* TOASTIFY COLOR */
.toastify-color-welcome {
  color: var(--black-color);
}
.toastify-color {
  color: var(--white-color);
}
/* END TOASTIFY COLOR */
/* Avatar*/
.avatarImg{
  height: 50px;
}
/* END AVATAR*/
/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}


.footer-container {
  padding: 20px 0;
  padding: 20px 0;
  flex: 0 1 80%;
}

.footer-container p {
  color: var(--white-color);
  line-height: 19px;
  margin: 10px 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}
.footer-container a {
  color: var(--white-color);
  line-height: 19px;
  margin: 10px 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}
.footer-container a:hover {
  color:lightblue;
}

/* ERROR PAGE */
.quiz-bg {
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
}

.container {
  background-color: var(--white-color);
  padding: 30px;
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* END ERROR PAGE */

/* SIGNUP - LOGIN - FORGETPASSWORD */
.signUpLoginBox {
  background-image: url(images/bg-noise-texture.png);
  background-repeat: repeat;
  -webkit-box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
  box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
  display: flex;
  justify-content: center;
}

.slContainer {
  flex: 0 1 80%;
  display: flex;
}

.formBoxLeftSignup {
  min-height: 500px;
  background-image: url(https://static01.nyt.com/images/2020/09/04/opinion/sunday/04worthen-web-1/04worthen-web-1-superJumbo.jpg?quality=90&auto=webp);
  background-repeat: no-repeat;
  background-position: center center;
  flex: 0 1 50%;
}

.formBoxLeftLogin {
  min-height: 500px;
  background-image: url(https://format-com-cld-res.cloudinary.com/image/private/s--bWguVhLc--/c_limit,g_center,h_65535,w_550/fl_keep_iptc.progressive,q_95/v1/75901348c7942696190ba7e96ddb401f/NYTMAGKIDS.jpg?550);
  background-repeat: no-repeat;
  background-position: center center;
  flex: 0 1 50%;
}

.formBoxLeftForget {
  min-height: 500px;
  background-image: url(https://format-com-cld-res.cloudinary.com/image/private/s--bWguVhLc--/c_limit,g_center,h_65535,w_550/fl_keep_iptc.progressive,q_95/v1/75901348c7942696190ba7e96ddb401f/NYTMAGKIDS.jpg?550);
  background-repeat: no-repeat;
  background-position: center center;
  flex: 0 1 50%;
}

.formBoxRight {
  flex: 0 1 50%;
}

.formBoxRight span {
  display: block;
  color: var(--red-color);
  text-align: center;
  border: 1px solid var(--red-color);
  padding: 10px;
  margin: 15px 0;
}

.formContent {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.formContent h2 {
  margin: 0 0 40px 0;
  padding: 0;
  color: var(--white-color);
  text-transform: uppercase;
}

.formContent .inputBox {
  position: relative;
  height: 80px;
}

.formContent .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 17px;
  color:#fff;
  font-weight: bold;
  margin-bottom: 30px;
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--white-color);
  outline: none;
}

.formContent .inputBox label {
  color: var(--white-color);
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 17px;
  pointer-events: none;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.formContent .inputBox input:focus~label,
.formContent .inputBox input:valid~label {
  top: -30px;
  left: 0;
  color: var(--white-color);
  font-size: 16px;
  font-style: italic;
}


/* Form buttons */

.formContent button {
  margin-left: 0;
  display: block;
  margin: 0 auto 20px;
  min-width: 150px;
  background-color: transparent;
  color: var(--white-color);
  padding: 7px;
  font-size: 15px;
  border-radius: 5px;
}

.formContent button:hover {
  background-color:lightblue;
  color: var(--white-color);
  cursor: pointer;
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover {
  border: 1px solid var(--light-grey-color);
  background-color: var(--light-grey-color);
  color: var(--dark-grey-color);
  opacity: 0.65;
  cursor: not-allowed;
}

.linkContainer {
  height: 50px;
  margin-top: 35px;
  padding-top: 15px;
  border-top: 1px dashed var(--light-grey-color);
}

.simpleLink {
  color: var(--white-color);
  text-decoration: none;
  font-size: 12px;
}

.simpleLink:hover {
  color: var(--red-color);
}
/* END SIGNUP - LOGIN - FORGETPASSWORD */

/* LOADER */
.loader {
  border: 10px solid var(--light-grey-color);
  border-radius: 50%;
  border-top: 10px solid #4f78a4;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 2s linear infinite;
  margin: 40px auto 20px;
}

.loaderText {
  text-align: center;
  color: var(--white-color);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* END LOADER */

/* LOGOUT SWITCH */
.logoutContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grey-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--red-color);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* END LOGOUT SWITCH */

/* LEVELS */
.levelsContainer {
  display: flex;
  background-color: var(--light-grey-color);
  padding: 20px;
  margin-bottom: 40px;
}

.headingLevels {
  margin: 0;
}
/* END LEVELS */

/* PROGRESS BAR */
.percentage {
  display: flex;
  justify-content: space-between;
}

.progressPercent {
  text-align: center;
  background-color: var(--light-grey-color);
  color: var(--black-color);
  flex: 0 1 40%;
  padding: 8px 0;
  border-radius: 6px;
}

.progressBar {
  border: 1px solid var(--light-grey-color);
  box-shadow: -1px 2px 8px 3px rgba(211, 209, 209, 0.3) inset;
  height: 30px;
  margin: 20px 0 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6px;
}

.progressBarChange {
  height: 18px;
  text-align: center;
  border-radius: 5px;
  background: var(--red-color);
}
/* END PROGRESS BAR */

/* ANSWER OPTIONS*/
.answerOptions {
  padding: 10px;
  background-color: var(--light-grey-color);
  line-height: 20px;
  text-align: left;
  border: none;
  color: var(--black-color);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0;
}

.answerOptions:hover {
  background-color: var(--red-color);
  -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  color: var(--white-color);
}
/* END ANSWER OPTIONS*/

/* QUIZOVER */
.stepsBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.successMsg {
  color: var(--light-green-color);
  font-weight: bold;
  text-transform: uppercase;
}

.failureMsg {
  color: var(--red-color);
  font-weight: bold;
  text-transform: uppercase;
}

.btnResult {
  flex: 0 1 200px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 9px 40px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.success {
  background-color: transparent;
  border: 2px solid var(--light-green-color);
  color: var(--light-green-color);
  flex: 0 1 250px;
}

.failure {
  background-color: transparent;
  border: 2px solid var(--red-color);
  color: var(--red-color);
  flex: 0 1 250px;
}

.gameOver {
  background-color: transparent;
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  flex: 0 1 250px;
}

.success:hover {
  background-color: var(--light-green-color);
  color: var(--white-color);
}

.failure:hover {
  background-color: var(--red-color);
  color: var(--white-color);
}

.gameOver:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.answerContainer {
  overflow-x: "auto";
}

.answers {
  border-collapse: collapse;
  width: 100%;
}

.answers td,
.answers th {
  border: 1px solid var(--light-grey-color);
  padding: 15px;
}

.answers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--red-color);
  color: var(--white-color);
  text-transform: uppercase;
}

.btnInfo {
  background-color: var(--dark-red-color);
  border: 2px solid var(--dark-red-color);
  color: var(--white-color);
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  padding: 9px;
  width: 100%;
  font-size: 15px;
}

.btnInfo:hover {
  background-color: var(--red-color);
  border: 2px solid var(--red-color);
  color: var(--white-color);
}
/* END QUIZOVER */

/* SUBMIT BUTTON */
.btnSubmit {
  font-size: 16px;
  padding: 6px;
  background-color: var(--red-color);
  color: var(--white-color);
  border-color: var(--red-color);
  border-radius: 5px;
  width: 150px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.selected {
  background-color: var(--red-color);
  color: var(--white-color);
  text-transform: uppercase;
}
/* END SUBMIT BUTTON */

/* MODAL */
.modalBackground {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  flex: 0 1 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: column;
}

.modalHeader {
  background-color: var(--dark-red-color);
  padding: 15px;
  color: var(--white-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modalHeader h2 {
  margin: 0;
  color: var(--white-color);
}

.modalBody {
  padding: 30px 10px;
  background: var(--white-color);
  height: 400px;
  overflow: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.comicImage {
  flex: 0 1 40%;
  align-self: stretch;
}

.comicDetails {
  flex: 0 1 50%;
  align-self: stretch;
}

.comicImage img {
  width: 100%;
  height: auto;
}

.comicImage p {
  font-size: 14px;
  font-style: italic;
  color: var(--dark-grey-color);
}

.comicDetails h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-grey-color);
  text-transform: uppercase;
}

.comicDetails p {
  font-style: italic;
  margin-bottom: 40px;
  color: var(--dark-grey-color);
}

.comicDetails a {
  flex: 0 1 60%;
  display: inline-block;
  background-color: var(--dark-red-color);
  padding: 10px 15px;
  margin-right: 10px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  transform: skew(-15deg);
}

.comicDetails a:hover {
  background-color: var(--dark-grey-color);
}

.modalFooter {
  background-color: var(--white-color);
  padding: 10px;
  color: var(--white-color);
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--light-grey-color);
}

.modalBtn {
  background: var(--light-grey-color);
  padding: 9px 5px;
  width: 90px;
  color: var(--deep-black-color);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--light-grey-color);
  margin: 0;
  font-size: 15px;
}

.modalBtn:hover {
  background: var(--red-color);
  color: var(--white-color);
  border: 1px solid var(--light-grey-color);
}
/* END MODAL */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color:#4f78a4;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: small;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4f78a4 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* DICTATOR GAME*/
.dictaWin{
  padding: 20px;
}
.dictaWin h2{
  text-align: center;
  color: lightslategray;
}
.dictatorContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  gap: 10px;
}
.dotContainer{
  min-width: 25px;
  max-width: 75px;
  height: 360px;
  display: flex;
  flex-direction: column;
  gap:5px;
  flex-grow: 1;
  align-items: center;
  padding-top: 10px;
  padding-top: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 5px;
}
.dotContainer:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 5px;
  cursor: pointer;
}
.dotContainerSelect{
  min-width: 25px;
  max-width: 85px;
  height: 360px;
  display: flex;
  flex-direction: column;
  gap:5px;
  flex-grow: 1;
  align-items: center;
  background-color:#C1E1C1;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dotContainer :first-child,.dotContainerSelect :first-child{
  margin-top: auto;
}
.dot{
  height: 25px;
  width: 25px;
  background-color:lightslategray;
  border-radius: 50%;
}
.dictatorNumber{
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
.dictatorHr{
  border: 2px solid lightslategray;
  width: 90%;
}


/* MEDIA QUERIES */
@media screen and (max-width: 540px) {
  .container img {
    width: 100%;
    height: auto;
  }
  .avatarImg{
    height: 50px !important;
  }

  .stepsBtnContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: stretch;
  }

  .success,
  .failure,
  .gameOver {
    flex-basis: auto;
  }
}

@media all and (max-width: 850px) {
  .welcomePage {
    background-image: none;
    flex-direction: column;
    height: 300px;
    justify-content: center;
  }
  .bg-text {
    background-color: transparent;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 50px;
    text-align: center;
  }

  .leftBox {
    display: flex;
    flex: 0 1 40%;
    justify-content: center;
    align-items: center;
  }

  .rightBox {
    display: flex;
    flex: 0 1 40%;
    justify-content: center;
    align-items: center;
  }

  .btn-welcome {
    margin-top: 0;
    flex-basis: 300px;
  }
  .btn-welcome2 {
    margin-top: 0!important;
    flex-basis: 300px;
  }
}

@media screen and (max-width: 980px) {
  /* Change Modal elements */
  .modalBody {
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
  }

  .modalContainer {
    flex: 0 1 90%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1110px) {
   /* make container full width */
   .container {
    flex: 0 1 100%;
  }
  .bg-text{
    margin-top: 0px;
  }

  /* hide all images on forms */
  .formBoxLeftSignup,
  .formBoxLeftLogin,
  .formBoxLeftForget {
    display: none;
  }

  .formBoxRight {
    flex: 0 1 100%;
  }

}